<main class="d-flex flex-column align-items-center">
  <%- include("./partials/navbar.ejs") %>
  <form action="/posts" method="POST" class="w-50 mb-5">
  <textarea name="postbody" id="" cols="30" rows="1" placeholder="What is on your mind?" class="mb-2 w-100 pb-2"></textarea>
  <button type="submit" class="btn btn-primary w-100">Post</button>
  </form>
  <div class="w-50 mb-2">
    <h6>Timeline</h6>
  </div>
  <% posts.forEach( post => { %>
  <a href="/posts/<%= post._id %>">
    <div class="card mb-3 w-50 border-0">
      <div class="card-body">
        <small class="text-secondary me-2 fst-normal"><%= usersWithPosts[`${post.userId}`].username %></small>
        <small class="text-secondary fst-normal">posted
          <%= ((Math.abs(new Date(`${post.createdAt}`) - new Date(Date.now()))) / (1000 * 60 * 60)).toFixed(0) %> 
          hour(s) ago
        </small>   
        <p class="card-text"><%= post.postbody %></p>
      </div>
      <div class="d-flex justify-content-between">
        <a href="/editPost/<%= post._id %>" class="post-icon-a w-100">
          <button type="button" class="icon-button w-100 py-2"><i class="fa-solid fa-pen"></i></button></a>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" style="display: inline" class="w-100">
          <button type="submit" class="icon-button text-danger w-100 py-2"><i class="fa-solid fa-trash"></i></button>
        </form>
        <a href="/posts/<%=post._id%>" class="post-icon-a w-100">
          <button type="button" class="icon-button w-100 py-2"><i class="fa-solid fa-comment"></i></button></a>
      </div>
    </div>
  </a>
  <% }) %>
</main>