<main class="d-flex flex-column align-items-center">
  <%- include("./partials/navbar.ejs") %>

  <!-- displaying any flash error or success messages -->
  <% if(messages.error) { %>
    <div class="toast align-items-center text-white bg-danger border-0 position-absolute top-0 start-50 translate-middle-x mt-1" role="alert" id="toast-div" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <strong>Error! </strong><%= messages.error %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  <% } %>

  <% if(messages.success) { %>
    <div class="toast align-items-center text-white bg-success border-0 position-absolute top-0 start-50 translate-middle-x mt-1" role="alert" id="toast-div" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <strong>Success! </strong><%= messages.success %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  <% } %>

  <!-- Form for creating new posts -->
  <form action="/posts" method="POST" class="w-50 mb-5" enctype="multipart/form-data">
  <textarea name="postbody" id="" cols="30" rows="1" placeholder="What is on your mind?" class="mb-2 w-100 pb-2"></textarea>
  <div class="mb-3">
    <label for="formFileSm" class="form-label text-secondary">Add an image</label>
    <input class="" name="postimage" id="formFileSm" type="file">
  </div>
  <button type="submit" class="btn btn-primary w-100">Post</button>
  </form>

  <!-- The timeline for posts -->
  <div class="w-50 mb-2">
    <h6>Timeline</h6>
  </div>

  <!-- The loop for displaying the posts -->
  <% posts.forEach( post => { %>
  <a href="/posts/<%= post._id %>">
    <div class="card mb-3 w-50 border-0">
      <div class="card-body">
        <small class="text-secondary me-2 fst-normal"><%= usersWithPosts[`${post.userId}`].username %></small>
        <small class="text-secondary fst-normal">posted
          <%= ((Math.abs(new Date(`${post.createdAt}`) - new Date(Date.now()))) / (1000 * 60 * 60)).toFixed(0) %> 
          hour(s) ago
        </small>   
        <p class="card-text"><%= post.postbody %></p>
      </div>
      <% if(post.postimage) { %>
        <img src="uploads/<%= post.postimage %>" class="card-img-top" alt="...">
      <% } %>
      <div class="d-flex justify-content-between">
        <a href="/editPost/<%= post._id %>" class="post-icon-a w-100">
          <button type="button" class="icon-button w-100 py-2"><i class="fa-solid fa-pen"></i></button></a>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" style="display: inline" class="w-100">
          <button type="submit" class="icon-button text-danger w-100 py-2"><i class="fa-solid fa-trash"></i></button>
        </form>
        <a href="/posts/<%=post._id%>" class="post-icon-a w-100">
          <button type="button" class="icon-button w-100 py-2"><i class="fa-solid fa-comment"></i></button></a>
      </div>
    </div>
  </a>
  <% }) %>
</main>